@import '../node_modules/react-grid-layout/css/styles.css';
@import '../node_modules/react-resizable/css/styles.css';
@import './styles/variables';
@import './styles/widgets';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  padding: 1rem;

  .grid-item {
    position: relative;

    .grid-actions {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.layout-wrapper {
  position: relative;

  .react-grid-layout {
    .react-grid-item {
      border: 1px solid $gray-300;

      .widget-placeholder {
        position: absolute;
        width: 100%;
        height: 100%;

        .widget {
          width: 100%;
          height: 100%;
          border: none;
        }

      }
    }

    &.editable {
      .react-grid-item {
        border: 1px dashed $indigo;
        background-color: $gray-200;
      }

      &.selected-for-drop {
        .react-grid-item {
          border: 1px solid $indigo;
          background-color: $gray-400;
        }
      }

    }
  }
}

.config-page {
  .widgets-bar {
    padding-left: 2rem;
    padding-right: 2rem;

    .widget-draggable-container {
      margin-bottom: 1rem;
    }
  }
}

.widget-draggable-container {
  cursor: pointer;
  height: 3rem;

  &:hover {
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }
}